@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,300,400,500,600,700,900');

.menu {
  padding:40px;
}

.main-content-column {
  background: #eee;
  min-height:100vh;
}

.menu-header {
  padding-top:40px;
  padding-bottom:40px;
  border-bottom:1px solid rgba(0,0,0,.1);
  margin-bottom:40px;
}

.is-google-text {
  padding-left:5px;
}

.is-google-button {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
